body {
    font-family: Helvetica, sans-serif;
    background-image: url('family-feud-background-s0mfgayn4mfq9k7p.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: #F4B748;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#timer {
    text-align: center;
}

#time {
    font-size: 72px;
    color: white;
    background-color: blue;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 6px;
    border-color: #7CE3FB;
}

a {
    color: white;
    text-decoration: none;
}

button {
    border-style: solid;
    border-width: 5px;
    border-color: #FFFF6A;
    border-radius: 15%;
    background-color: blue;
    color: white;
    font-size: 25px;
    padding: 10px;
    box-shadow: 0 9px #F4B748;
}

button:hover {
    border-style: solid;
    border-width: 5px;
    border-color: #FFFF6A;
    border-radius: 15%;
    background-color: #0F1383;
    color: white;
    font-size: 25px;
    padding: 10px;
    box-shadow: 0 9px #F4B748;
}

button:active {
    border-style: solid;
    border-width: 5px;
    border-color: #FFFF6A;
    border-radius: 15%;
    background-color: #0F1383;
    color: white;
    font-size: 25px;
    padding: 10px;
    box-shadow: 0 5px #EE7F34;
    transform: translateY(4px);
}

#answerBox {
    color: white;
    font-size: 24px;
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    border-color: #FFFF6A;
    padding: 15px;
    box-shadow: 0 9px #F4B748;
}

#answerBoxLabel {
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px black;
}

#question {
    color: white;
    font-size: 50px;
    background-color: #0F1383;
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    padding: 15px;
}

ul {
    list-style-type: none;
}

li {
    color: white;
    font-size: 24px;
    background-color: mediumblue;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 15px;
}