body {
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: darkgoldenrod;
}

#timer {
    text-align: center;
}

#time {
    font-size: 72px;
    color: white;
    background-color: blue;
    width: 180px;
    margin-left: 664px;
    border-style: solid;
    border-width: 6px;
    border-color: lightskyblue;
}

.timerButton {
    border-style: solid;
    border-width: 5px;
    border-color: darkgoldenrod;
    border-radius: 15%;
    background-color: blue;
    color: white;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
}

.timerButton:hover {
    border-style: solid;
    border-width: 5px;
    border-color: darkgoldenrod;
    border-radius: 15%;
    background-color: darkblue;
    color: white;
    font-size: 25px;
    padding: 10x;
    margin: 5px;
}