<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Reading Club | Family Feud</title>

</head>

<body>

    <h1>FAMILY FEUD</h1>

    <div id="stopwatch">
        <h2 id="time">00:00</h2>
        <button id="startStopwatch" class="stopwatchButton">Start</button>
        <button id="pauseStopwatch" class="stopwatchButton">Pause</button>
        <button id="resetStopwatch" class="stopwatchButton">Reset</button>
    </div>

    <ul>
        <h1>{{ question }}</h1>

        {% for answer in answers %}
            <li>{{ answer }}</li>
        {% endfor %}
    </ul>

</body>
</html>