<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Family Feud</title>

    <script>
        var time = 0;

        function resetTimer() {
            time = 60;
            document.getElementById("time").innerHTML = time;
        }

        function updateTimer() {
            time -= 1;
            document.getElementById("time").innerHTML = time;
        }

        function stopTimer() {
            document.getElementById("stopTimer").style.display = "none";
            document.getElementById("answerBox").style.display = "inline";
            document.getElementById("answerBoxLabel").style.display = "inline";
            document.getElementById("submitAnswer").style.display = "inline";
            document.getElementById("time").style.display = "none";
        }

        function startTimer() {
            resetTimer();
            document.getElementById("stopTimer").style.display = "inline";
            document.getElementById("startTimer").style.display = "none";
            for (let i=1000; i<61000; i+=1000) {
                setTimeout(updateTimer, i);
            }
        }

    </script>

</head>

<body onload="resetTimer()">

    <h1>FAMILY FEUD</h1>

    <div id="timer">
        <h2 id="time">0</h2>
        <button id="startTimer" class="timerButton" onclick="startTimer()">Start</button>
        <button id="stopTimer" class="timerButton" onclick="stopTimer()" style="display: none;">Stop</button>
        <form>
            <label for="answerBox" id="answerBoxLabel" style="display: none;">Enter answer:</label>
            <br><br>
            <input type="text" id="answerBox" style="display: none;">
            <br><br>
            <input type="submit" id="submitAnswer" class="timerButton" value="Enter" style="display: none;">
        </form>
    </div>

    <ul>
        <h2 id="question">{{ question }}</h2>

        {% for answer in answers %}
            <li>{{ answer }}</li>
        {% endfor %}
    </ul>

</body>
</html>